<!DOCTYPE html>
<html>
<head>
  <title>Sample Xendit Python</title>
</head>
<style>
  label {
    float: left;
    width: 10%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body>
    <div>
      <h2>Pay using OVO</h2>
      <form action="/pay" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"><br>
        <label for="amount">Amount: </label>
        <input type="amount" id="amount" name="amount"><br>
        <label for="phone_number">Phone Number: </label>
        <input type="number" id="phone_number" name="phone_number"><br>
        <button type="submit">Submit</button>
      </form>
    </div>
</body>
</html>